{% extends 'base.html.twig' %}
{% block title %}
    Profil du contact
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('email') }}
{% endblock %}
{% block body %}

    <div class="wrapper">

        {% include 'main/base/sidebar.html.twig' %}
        {% include 'main/base/nav.html.twig' %}

        <div class="content-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                            <div class="d-flex align-items-center justify-content-between">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb p-0 mb-0">
                                        <li class="breadcrumb-item">
                                            <a href="{{ path('app_calendly') }}">
                                                Contacts
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            Vue d'un contact
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                            <a href="{{ path('app_calendly') }}" class="btn btn-primary btn-sm d-flex align-items-center justify-content-between ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z" clip-rule="evenodd" />
                                </svg>
                                <span class="ml-2">
                                    Retour
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-3 d-flex justify-content-between">
                        <h4 class="font-weight-bold d-flex align-items-center">
                            Vue d'un contact
                        </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 text-break">
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div>
                                        <ul class="list-style-1 mb-0">
                                            <li class="list-item d-flex justify-content-start align-items-center">
                                                <div class="avatar">
                                                    <img class="avatar avatar-img avatar-60 rounded-circle" src="{{ asset('images/user/1.jpg') }}" alt="01.jpg" />
                                                </div>
                                                <div class="list-style-detail ml-4 mr-2">
                                                    <h5 class="font-weight-bold">
                                                        {{ infos.data.nom|default|capitalize }}
                                                        {{ infos.data.prenom|default|capitalize }}
                                                    </h5>
                                                    <p class="mb-0 mt-1 text-muted">
                                                        {{ infos.data.societe|default }}
                                                    </p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-lg-12 mb-1 text-center">
                                            {% if block_call == true and NaN == false %}
                                                <button class="btn btn-block btn-sm btn-success" disabled>
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 mr-2 w-5" width="20" viewBox="0 0 20 20" fill="currentColor">
                                                        <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                                                    </svg>
                                                    <span class="">
                                                        Appeler
                                                    </span>
                                                </button>
                                                <p class="text-danger mini">
                                                    <u>
                                                        Numéro surtaxé
                                                    </u>
                                                </p>
                                            {% else %}
                                                {% if contact_response.collection[0].text_reminder_number is not null %}
                                                    <a href="tel:{{ contact_response.collection[0].text_reminder_number|replace({' ' : ''}) }}">
                                                        <button class="btn btn-block btn-sm btn-success">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="20" viewBox="0 0 24 24" fill="currentColor">
                                                                <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                                                            </svg>
                                                            <span class="">
                                                                Appeler
                                                            </span>
                                                        </button>
                                                        {% if NaN == true %}
                                                            <p class="text-danger mini">
                                                                <u>
                                                                    Vérifier provenance du numéro
                                                                </u>
                                                            </p>
                                                        {% endif %}
                                                    
                                                    </a>
                                                {% elseif contact_response.collection[0].questions_and_answers[1].answer is not null %}
                                                    <a href="tel:{{ contact_response.collection[0].questions_and_answers[1].answer|replace({' ' : ''}) }}">
                                                        <button class="btn btn-block btn-sm btn-success">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 mr-2 w-5" width="20" viewBox="0 0 20 20" fill="currentColor">
                                                                <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                                                            </svg>
                                                            <span class="">
                                                                Appeler
                                                            </span>
                                                        </button>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="col-12 text-center mb-2">
                                            <button class="btn btn-block btn-sm btn-primary" id="btn_modal_mail" data-target="{{ path('app_send_mail', {'id': app.user.id, 'lead_id': lead_id}) }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" fill="none" width="20" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                                </svg>
                                                <span class="">
                                                    Envoyer un mail
                                                </span>
                                            </button>
                                        </div>
                                        <div class="col-6 text-center mb-2">
                                            <a href="https://calendly.com/cancellations/{{ uri|default }}" id="cancel_call">
                                                <button class="btn btn-block btn-sm btn-outline-danger">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                                                    </svg>
                                                    <span class="">
                                                        Annuler le call 
                                                    </span>
                                                </button>
                                            </a>
                                        </div>
                                        {#<div class="col-6 text-center mb-2">
                                            <button class="btn btn-block btn-sm btn-outline-warning" id="give_call" data-target="{{ path('app_choose') }}" data="{{ lead_id }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 3h5m0 0v5m0-5l-6 6M5 3a2 2 0 00-2 2v1c0 8.284 6.716 15 15 15h1a2 2 0 002-2v-3.28a1 1 0 00-.684-.948l-4.493-1.498a1 1 0 00-1.21.502l-1.13 2.257a11.042 11.042 0 01-5.516-5.517l2.257-1.128a1 1 0 00.502-1.21L9.228 3.683A1 1 0 008.279 3H5z" />
                                                </svg>
                                                <span class="pl-0">
                                                    Donner le call
                                                </span>
                                            </button>
                                        </div>#}
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <table class="table table-borderless mb-0">
                                        <tr>
                                            <td class="p-0">
                                                <p class="mb-0 text-muted">
                                                    Email
                                                </p>
                                            </td>
                                            <td>
                                                <p class="mb-0 " id="mail_user">
                                                    {{ infos.data.email|default }}
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-0">
                                                <p class="mb-0 text-muted">
                                                    Téléphone
                                                </p>
                                            </td>
                                            {% if contact_response.collection[0].text_reminder_number|default is not null %}
                                            <td>
                                                <p class="mb-0 ">
                                                    {{ contact_response.collection[0].text_reminder_number|default }}
                                                </p>
                                            </td>
                                        {% elseif contact_response.collection[0].questions_and_answers[1].answer|default is not null %}
                                            <td>
                                                <p class="mb-0">
                                                    {{ contact_response.collection[0].questions_and_answers[1].answer|default }}
                                                </p>
                                            </td>
                                        {% else %}
                                            <td>
                                                <p class="mb-0 ">
                                                    {{ infos.data.tel|default }}
                                                </p>
                                            </td>
                                        {% endif %}
                                            
                                        </tr>
                                        <tr>
                                            <td class="p-0">
                                                <p class="mb-0 text-muted">
                                                    Pays
                                                </p>
                                            </td>
                                            <td>
                                                {% if infos.data.pays|default == 'FR' %}
                                                    <p class="mb-0">
                                                        France
                                                    </p>
                                                {% elseif infos.data.pays|default == 'MA' %}
                                                    <p class="mb-0">
                                                        Maroc
                                                    </p>
                                                {% elseif infos.data.pays|default == 'MT' %}
                                                    <p class="mb-0">
                                                        Malte
                                                    </p>
                                                {% elseif infos.data.pays|default == 'BE' %}
                                                    <p class="mb-0">
                                                        Belgique
                                                    </p>
                                                {% elseif infos.data.pays|default == 'MQ' %}
                                                    <p class="mb-0">
                                                        Martinique
                                                    </p>
                                                {% elseif infos.data.pays|default == 'CI' %}
                                                    <p class="mb-0">
                                                        Côte d'Ivoire
                                                    </p>
                                                {% else %}
                                                    <p class="mb-0 ">
                                                        {{ infos.data.pays|default }}
                                                    </p>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-0">
                                                <p class="mb-0 text-muted">
                                                    Ville
                                                </p>
                                            </td>
                                            <td>
                                                <p class="mb-0 ">
                                                    {{ infos.data.ville|default }}
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-0">
                                                <p class="mb-0 text-muted">
                                                    Adresse
                                                </p>
                                            </td>
                                            <td>
                                                <p class="mb-0 ">
                                                    {{ infos.data.adresse|default }}
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-0">
                                                <p class="mb-0 text-muted">
                                                    Code Postal
                                                </p>
                                            </td>
                                            <td>
                                                <p class="mb-0 ">
                                                    {{ infos.data.code_postal|default }}
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="p-0">
                                                <p class="mb-0 text-muted">
                                                    Type de lead
                                                </p>
                                            </td>
                                            {% if category_lead[0].leadCategory is defined and category_lead[0].leadCategory == 'NO_SHOW' %}
                                                <td>
                                                    <p class="mb-0 ">
                                                        No show
                                                    </p>
                                                </td>
                                            {% elseif category_lead[0].leadCategory is defined and category_lead[0].leadCategory == 'INTERESTED' %}
                                                <td>
                                                    <p class="mb-0 ">
                                                        Touriste intéressant
                                                    </p>
                                                </td>
                                            {% elseif category_lead[0].leadCategory is defined and category_lead[0].leadCategory == 'TOTAL' %}
                                                <td>
                                                    <p class="mb-0 ">
                                                        Touriste total
                                                    </p>
                                                </td>
                                            {% elseif category_lead[0].leadCategory is defined and category_lead[0].leadCategory == 'PRICE' %}
                                                <td>
                                                    <p class="mb-0 ">
                                                        Touriste sur les prix
                                                    </p>
                                                </td>
                                            {% elseif category_lead[0].leadCategory is defined and category_lead[0].leadCategory == 'SOCIAL' %}
                                                <td>
                                                    <p class="mb-0 ">
                                                        Touriste sur l'aspect social
                                                    </p>
                                                </td>
                                            {% elseif category_lead[0].leadCategory is defined and category_lead[0].leadCategory == 'PALM' %}
                                                <td>
                                                    <p class="mb-0 ">
                                                        Paumé
                                                    </p>
                                                </td>
                                            {% elseif category_lead[0].leadCategory is defined and category_lead[0].leadCategory == 'BROKE' %}
                                                <td>
                                                    <p class="mb-0 ">
                                                        Chaud mais fauché
                                                    </p>
                                                </td>
                                            {% elseif category_lead[0].leadCategory is defined and category_lead[0].leadCategory == 'NO_TIME' %}
                                                <td>
                                                    <p class="mb-0 ">
                                                        Chaud mais débordé
                                                    </p>
                                                </td>
                                            {% elseif category_lead[0].leadCategory is defined and category_lead[0].leadCategory == 'NO_QUALIFIED' %}
                                                <td>
                                                    <p class="mb-0 ">
                                                        Chaud mais pas qualifié
                                                    </p>
                                                </td>
                                            {% elseif category_lead[0].leadCategory is defined and category_lead[0].leadCategory == 'CLOSED' %}
                                                <td>
                                                    <p class="mb-0 ">
                                                        Closé
                                                    </p>
                                                </td>
                                            {% endif %}  
                                        </tr>
                                        {% if isClosed is defined %}
                                            <tr>
                                                <td>
                                                    <p class="mb-0 text-muted">
                                                        Close
                                                    </p>
                                                </td>
                                                <td>
                                                    {{ isClosed[0].name|default }}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </table>
                                </li>
                            </ul>
                        </div>
                        {% if category_lead is empty %}
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div>
                                            <ul class="list-style-1 mb-0">
                                                <li class="list-item d-flex justify-content-start align-items-center">
                                                    <div class="list-style-detail mr-2">
                                                        <h5 class="font-weight-bold">
                                                            Choix du type de lead
                                                        </h5>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-12 text-center mb-2">
                                                {{ form_start(category_form) }}
                                                {{ form_widget(category_form.lead_category) }}
                                                <button class="btn btn-block btn-sm btn-primary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="20" fill="none" viewBox="0 0 30 30" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                                    </svg>
                                                    <span class="">
                                                        Enregistrer
                                                    </span>
                                                </button>
                                                {{ form_end(category_form) }}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                        {% if category_lead[0] is defined and category_lead[0].leadCategory == 'CLOSED' %}
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div>
                                            <ul class="list-style-1 mb-0">
                                                <li class="list-item d-flex justify-content-start align-items-center">
                                                    <div class="list-style-detail mr-2">
                                                        <h5 class="font-weight-bold">
                                                            Choix du type de close
                                                        </h5>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-12 text-center mb-2">
                                                {{ form_start(close_form) }}
                                                {{ form_row(close_form.name) }}
                                                <button class="btn btn-block btn-sm btn-primary">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" width="20" fill="none" viewBox="0 0 30 30" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                                    </svg>
                                                    <span class="">
                                                        Enregistrer
                                                    </span>
                                                </button>
                                                {{ form_end(close_form) }}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                        <div class="card">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div>
                                        <ul class="list-style-1 mb-0">
                                            <li class="list-item d-flex justify-content-start align-items-center">
                                                <h5>
                                                    Liste des tags
                                                </h5>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <div class="iq-timeline0 m-0 d-flex align-items-center justify-content-between position-relative">
                                    <ul class="list-inline p-0 m-0">
                                        {% for tags in infos.data.tags %}
                                            <li>
                                                <div class="pt-3">
                                                    <p class="mb-0 text-muted font-weight-bold">
                                                        {{ tags.date_inscription|date('d, M Y à H:i') }}
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="timeline-dots timeline-dot1 border-primary text-primary"></div>
                                                <h6 class="float-left mb-1 font-weight-bold">
                                                    {{ tags.nom }}
                                                </h6>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body p-0">
                                <ul class="nav tab-nav-pane nav-tabs pt-2 mb-0">
                                    <li class="pb-2 mb-0 nav-item">
                                        <a data-toggle="tab" class="font-weight-bold text-uppercase px-5 py-2 active" href="#activity">
                                            Activité
                                        </a>
                                    </li>
                                    <li class="pb-2 mb-0 nav-item">
                                        <a data-toggle="tab" class="font-weight-bold text-uppercase px-5 py-2" href="#survey">
                                            Questionnaire
                                        </a>
                                    </li>
                                    <li class="pb-2 mb-0 nav-item">
                                        <a data-toggle="tab" class="font-weight-bold text-uppercase px-5 py-2" href="#invoice">
                                            Paiements
                                        </a>
                                    </li>
                                    <li class="pb-2 mb-0 nav-item">
                                        <a data-toggle="tab" class="font-weight-bold text-uppercase px-5 py-2" href="#calls">
                                            Écoute d'appel
                                        </a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="activity" class="tab-pane fade p-3 show active text-break">
                                        <div class="d-flex justify-content-between align-items-center p-3">
                                            <h4>
                                                Activité
                                            </h4>
                                        </div>
                                        <div class="iq-timeline0 m-0 d-flex align-items-center justify-content-between position-relative">
                                            <ul class="timeline list-inline p-0 m-0">
                                                {% for notificationsPath in notification_view %}

                                                    <li>
                                                        <div class="pt-3">
                                                            <p class="mb-0 text-muted font-weight-bold text-uppercase">{{ notificationsPath.createdAt|date('D d M Y') }}</p>
                                                        </div>
                                                    </li>
                                                    <li>

                                                        {% if notificationsPath.getNotificationType() == 'Mail' %}
                                                            <div class="timeline-badge border-success text-success bg-success text-center">
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="z-4" viewBox="-5 -5 30 30" fill="currentColor">
                                                                    <path fill-rule="evenodd" d="M2.94 6.412A2 2 0 002 8.108V16a2 2 0 002 2h12a2 2 0 002-2V8.108a2 2 0 00-.94-1.696l-6-3.75a2 2 0 00-2.12 0l-6 3.75zm2.615 2.423a1 1 0 10-1.11 1.664l5 3.333a1 1 0 001.11 0l5-3.333a1 1 0 00-1.11-1.664L10 11.798 5.555 8.835z" clip-rule="evenodd" />
                                                                </svg>
                                                            </div>
                                                            <a class="a_modal_notif" data-target="{{ path('app_notif_view', {'id_notif' : notificationsPath.id }) }}">
                                                                <h6 class="float-left mb-1 font-weight-bold text-success">
                                                                    {{ notificationsPath.getNotificationTitle() }}
                                                                </h6>
                                                            </a>
                                                        {% elseif notificationsPath.getNotificationType() == 'Notes' %}
                                                            <div class="timeline-badge border-primary text-primary bg-primary text-center">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-3 -3 30 30" stroke="currentColor">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                                </svg>
                                                            </div>
                                                            <a class="a_modal_notif" data-target="{{ path('app_notif_view', {'id_notif' : notificationsPath.id }) }}">
                                                                <h6 class="float-left mb-1 font-weight-bold text-primary">
                                                                    {{ notificationsPath.getNotificationTitle() }}
                                                                </h6>
                                                            </a>
                                                        {% elseif notificationsPath.getNotificationType() == 'Proposition' %}
                                                            <div class="timeline-badge border-danger text-danger bg-danger text-center">
                                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-3 -3 30 30" stroke="currentColor">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                                                </svg>
                                                            </div>
                                                            <a class="a_modal_notif" data-target="{{ path('app_notif_view', {'id_notif' : notificationsPath.id }) }}">
                                                                <h6 class="float-left mb-1 font-weight-bold text-danger">
                                                                    {{ notificationsPath.getNotificationTitle() }}
                                                                </h6>
                                                            </a>
                                                        {% elseif notificationsPath.getNotificationType() == 'Call' %}
                                                            <div class="timeline-badge border-warning text-warning bg-warning text-center">
                                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-5 -5 30 30" fill="currentColor">
                                                                    <path d="M14.414 7l3.293-3.293a1 1 0 00-1.414-1.414L13 5.586V4a1 1 0 10-2 0v4.003a.996.996 0 00.617.921A.997.997 0 0012 9h4a1 1 0 100-2h-1.586z" />
                                                                    <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
                                                                </svg>
                                                            </div>
                                                            <a class="a_modal_notif" data-target="{{ path('app_notif_view', {'id_notif' : notificationsPath.id }) }}">
                                                                <h6 class="float-left mb-1 font-weight-bold text-warning">
                                                                    {{ notificationsPath.getNotificationTitle() }}
                                                                </h6>
                                                            </a>
                                                        {% elseif notificationsPath.getNotificationType() == 'Appointment' %}
                                                            <div class="timeline-badge border-secondary text-white bg-secondary text-center">
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="-3 -3 30 30" stroke="currentColor">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                                                                </svg>
                                                            </div>
                                                            <a class="a_modal_notif" data-target="{{ path('app_notif_view', {'id_notif' : notificationsPath.id }) }}">
                                                                <h6 class="float-left mb-1 font-weight-bold text-secondary">
                                                                    {{ notificationsPath.getNotificationTitle() }}
                                                                </h6>
                                                            </a>
                                                        {% elseif notificationsPath.getNotificationType() == 'Sms' %}
                                                            <div class="timeline-badge border-dark text-white bg-dark text-center">
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="-3 -3 30 30" stroke="currentColor">
                                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
                                                                </svg>
                                                            </div>
                                                            <a class="a_modal_notif" data-target="{{ path('app_notif_view', {'id_notif' : notificationsPath.id }) }}">
                                                                <h6 class="float-left mb-1 font-weight-bold text-dark">
                                                                    {{ notificationsPath.getNotificationTitle() }}
                                                                </h6>
                                                            </a>
                                                        {% else %}
                                                            <div class="timeline-dots timeline-dot1 border-primary text-primary"></div>
                                                            <h6 class="float-left mb-1 font-weight-bold">
                                                                {{ notificationsPath.getNotificationTitle() }}
                                                            </h6>
                                                        {% endif %}
                                                        <a class="a_modal_notif" data-target="{{ path('app_notif_view', {'id_notif' : notificationsPath.id }) }}">
                                                            <div class="d-inline-block w-100">
                                                                <p class="mb-0">
                                                                    {{ notificationsPath.getNotificationBody()|replace({"<a href='https://learndigital.withgoogle.com/ateliersnumeriques/course/digital-marketing'>" : "", "<a href='https://www.facebook.com/groups/540677290401068'>" : "", "</a>"
                                                            : "", "<br>" : ""})|u.truncate(100, '[...]', false) }}
                                                                </p>
                                                            </div>
                                                        </a>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                        <hr>
                                            <button id="add_notif" class="btn btn-primary col-12">
                                                Prendre des notes
                                            </button>
                                            <div id="form_notif" style="display:none;">
                                                <i id="close_form_notif" class="fa fa-times close"></i>
                                                {{ form_start(notification_form) }}
                                                <div class="row">
                                                    <div class="col-lg-12 mt-2">
                                                        <label for="" class="text-secondary">
                                                            Prendre des notes
                                                        </label>
                                                        {{ form_row(notification_form.notification_body) }}
                                                    </div>
                                                    <button type="submit" class="btn btn-primary btn-block mt-2">
                                                        Ajouter les notes
                                                    </button>
                                                </div>
                                                {{ form_end(notification_form) }}
                                            </div>

                                        </div>
                                        <div id="survey" class="tab-pane fade p-3 text-break">
                                            <div class="d-flex justify-content-between align-items-center p-3">
                                                <h4>
                                                    Questionnaire
                                                </h4>
                                                <button class="btn btn-secondary btn-sm">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                                                    </svg>
                                                    Exporter
                                                                                                
                                                </button>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table mb-0">
                                                    <tbody>
                                                        {% for answers in contact_response.collection[0].questions_and_answers|default %}
                                                            <tr class="text-left">
                                                                <td class="question">
                                                                    <p class="mb-0 wrap">
                                                                        {{ answers.question }}
                                                                    </p>
                                                                </td>
                                                                <td class="mb-0">
                                                                    <p class="wrap">
                                                                        {{ answers.answer }}
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="invoice" class="tab-pane fade p-3">
                                            <div class="d-flex justify-content-between align-items-center p-3">
                                                <h4>
                                                    Paiements
                                                </h4>
                                                <button class="btn btn-secondary btn-sm">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                                                    </svg>
                                                    Exporter
                                                                                                
                                                </button>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table data-table mb-0 text-center">
                                                    <thead class="table-color-heading">
                                                        <tr class="text-muted">
                                                            <th scope="col">
                                                                ID
                                                            </th>
                                                            <th scope="col">
                                                                Date
                                                            </th>
                                                            <th scope="col">
                                                                Description
                                                            </th>
                                                            <th scope="col">
                                                                Status
                                                            </th>
                                                            <th scope="col">
                                                                Total
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for infos in paid_state.data %}
                                                            <tr>
                                                                <td>
                                                                    {{ infos.id_trans|default }}
                                                                </td>
                                                                <td>
                                                                    {{ infos.date|date('d m Y') }}
                                                                </td>
                                                                <td>
                                                                    {{ infos.descriptor|default|replace({'Offre' : '', 'Affiliation-Ninja': '', 'accompagnement' : 'Accompagnement'}) }}
                                                                </td>
                                                                <td>
                                                                    {% if infos.valid == 'true' %}
                                                                        <p class="mb-0 text-success d-flex justify-content-start align-items-center">
                                                                            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 24 24" fill="none">
                                                                                <circle cx="12" cy="12" r="8" fill="#3cb72c"></circle>
                                                                            </svg>
                                                                            Payé
                                                                                                                                    
                                                                        </p>
                                                                    {% else %}
                                                                        <p class="mb-0 text-danger d-flex justify-content-start align-items-center">
                                                                            <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" width="18" viewBox="0 0 24 24" fill="none">
                                                                                <circle cx="12" cy="12" r="8" fill="#dc3545"></circle>
                                                                            </svg>
                                                                            Refusé
                                                                                                                                    
                                                                        </p>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    {{ infos.display_montant }}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div id="calls" class="tab-pane fade p-3">
                                            <div class="d-flex justify-content-between align-items-center p-3">
                                                <h4>
                                                    Écoute d'appels
                                                </h4>
                                                <button class="btn btn-secondary btn-sm">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="20" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                                                    </svg>
                                                    Exporter
                                                                                                
                                                </button>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table data-table mb-0 text-center">
                                                    <thead class="table-color-heading">
                                                        <tr class="text-muted row">
                                                            <th scope="col" class="col-2">
                                                                Date
                                                            </th>
                                                            <th scope="col" class="col-2">
                                                                Heure début
                                                            </th>
                                                            <th scope="col" class="col-2">
                                                                Heure fin
                                                            </th>
                                                            <th scope="col" class="col-2">
                                                                Écoute
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="row">
                                                        {% for infos in infos_call.call_list|default %}
                                                            <tr>
                                                                <td class="col-3">
                                                                    {{ infos.start_time|date("d M Y") }}
                                                                </td>
                                                                <td class="col-3">
                                                                    {{ infos.answered_time|date("H:i:s") }}
                                                                </td>
                                                                <td class="col-3">
                                                                    {{ infos.end_time|date("H:i:s") }}
                                                                </td>
                                                                <td class="col-3">
                                                                    <audio controls src="{{ infos.record }}">
                                                                        Your browser does not support the
                                                                                                                                        
                                                                        <code>
                                                                            audio
                                                                        </code>
                                                                        element.
                                                                                                                                
                                                                    </audio>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body p-0">
                                    <h5 class="p-3">
                                        Séquence de mails
                                    </h5>
                                    <hr>
                                        <div class="iq-timeline0 m-0 d-flex align-items-center justify-content-between position-relative">
                                            <ul class="list-inline p-0 m-0">
                                                {% for sequences in infos.data.sequences %}
                                                    <a class="a_modal_seq" data-target="{{ path('app_sequences_view', {'id_sequences' : sequences.id_sequence }) }}">
                                                        <li>
                                                            <div class="pt-3">
                                                                <p class="mb-0 text-muted font-weight-bold">
                                                                    {{ sequences.date_inscription|date('d, M Y à H:i') }}
                                                                </p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="timeline-dots timeline-dot1 border-primary text-primary"></div>
                                                            <h6 class="float-left mb-1 font-weight-bold">
                                                                {{ sequences.nom }}
                                                            </h6>
                                                        </li>
                                                    </a>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MODAL MAIL ******************************* -->
            <div class="modal fade" id="modal_mail" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div id="modal_mail_body"></div>
                    </div>
                </div>
            </div>

            <!-- MODAL MAIL ******************************* -->
            <div class="modal fade" id="modal_sms" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div id="modal_sms_body"></div>
                    </div>
                </div>
            </div>

            <!-- MODAL SEQUENCES ******************************* -->
            <div class="modal fade" id="modal_seq" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div id="modal_seq_body"></div>
                    </div>
                </div>
            </div>

            <!-- MODAL NOTIFICATIONS ******************************* -->
            <div class="modal fade" id="modal_notif" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div id="modal_notif_body"></div>
                    </div>
                </div>
            </div>

            <!-- MODAL CHOOSE OTHER CLOSER FOR LEAD ******************************* -->
            <div class="modal fade" id="modal_choose" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div id="modal_choose_body"></div>
                    </div>
                </div>
            </div>

            {% include 'main/base/footer.html.twig' %}
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
                {{ encore_entry_script_tags('email') }}
                {{ encore_entry_script_tags('call') }}
            {% endblock %}
        {% endblock %}
        